/* line 11, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
body {
  font-family: "Work Sans";
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 660px;
  position: fixed;
  top: -8px;
  left: -8px; }

/* line 22, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.left-pane {
  background-color: whitesmoke;
  height: 100vh;
  order: 0;
  float: left;
  flex: none;
  width: 200px;
  border-right: 1px dashed #e6e6e6;
  z-index: 1; }
  /* line 31, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .left-pane .accounts {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #a0a0a0;
    margin-bottom: 6px;
    padding-left: 20px; }

/* line 41, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.week-sum {
  height: calc(100% * (1/7) + 1px);
  margin-bottom: 1px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  align-content: center; }
  /* line 51, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .week-sum .total {
    position: relative;
    font-size: 10px;
    text-transform: uppercase;
    color: #a0a0a0;
    margin-bottom: 6px; }
  /* line 58, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .week-sum .gain {
    font-weight: 600;
    position: relative;
    color: mediumseagreen;
    margin-bottom: 2px; }
  /* line 64, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .week-sum .loss {
    font-weight: 600;
    position: relative;
    color: tomato; }

/* line 71, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.week-sum-header {
  flex: none;
  height: 95px;
  border-bottom: 1px solid #c8c8c8;
  background-color: whitesmoke; }

/* line 78, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.right-pane {
  background-color: #e6e6e6;
  width: 200px;
  height: 100%;
  margin-left: -1px;
  order: 2;
  flex: none;
  display: flex;
  flex-direction: column;
  border-left: 1px dashed #c8c8c8;
  z-index: 1; }

/* line 91, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.days-header-group {
  display: flex;
  height: 35px;
  border-bottom: 1px solid #c8c8c8; }

/* line 97, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.day-header {
  font-family: "Work Sans";
  font-size: 12px;
  color: #8c8c8c;
  width: calc(100% * (1/7));
  display: block;
  text-align: center; }

/* line 106, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.calendar-header {
  width: 100%;
  height: 60px;
  text-align: left;
  color: #000000;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 24px;
  margin: none !important;
  padding: none !important; }

/* line 118, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.days-of-month {
  background-color: #e6e6e6;
  padding-left: 1px;
  height: calc(100% - 96px); }

/* line 124, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
.calendar {
  order: 1;
  position: relative;
  height: 100%;
  min-height: 660px;
  margin-left: -1px;
  float: left;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden; }
  /* line 136, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .calendar .non-month-day {
    background-color: #fafafa !important; }
  /* line 140, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .calendar .day-block {
    width: calc(100% * (1/6) - 1px);
    height: calc(100% * (1/7) + 1px);
    margin-bottom: 1px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    float: left;
    overflow: hidden;
    background-color: #ffffff;
    text-align: left;
    letter-spacing: .1em;
    margin-right: 1px;
    padding-top: 25px; }
    /* line 154, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar .day-block .number {
      font-size: 11px;
      color: #c8c8c8;
      float: right;
      position: relative;
      top: -15px;
      right: 4px;
      text-align: right; }
    /* line 163, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar .day-block .target {
      padding-left: 2px;
      padding-right: 2px;
      margin-bottom: 2px; }
    /* line 171, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar .day-block .target-desc {
      color: #c8c8c8;
      width: 50px;
      height: 6px;
      padding-top: 6px;
      font-size: 12px;
      color: #000000;
      letter-spacing: 0px;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: left; }
    /* line 187, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar .day-block .target-val {
      height: 6px;
      padding-top: 6px;
      font-size: 12px;
      letter-spacing: 0px;
      font-weight: 600;
      color: red;
      float: right;
      text-align: right; }
  /* line 200, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .calendar .day-block:hover {
    background-color: #fafafa; }
  /* line 203, /Users/matthewgravish/Documents/GitHub/BudgetCal/css/styles.scss */
  .calendar .day-block-no-right {
    border-right: 0; }

/*# sourceMappingURL=styles.css.map */