/* line 28, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
body {
  font-family: "Work Sans", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 32, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
h1 {
  text-align: left;
  color: black;
  font-family: "Work Sans";
  font-weight: 400; }

/* line 38, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
.calendar {
  width: 95%;
  margin: 0 auto; }
  /* line 41, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
  .calendar .days-of-week, .calendar .days-of-month {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    /* line 45, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar .days-of-week .day-block, .calendar .days-of-month .day-block {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 0px; }
  /* line 51, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
  .calendar .days-of-week {
    display: none; }
    /* line 53, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar .days-of-week .day-block {
      height: 10px;
      color: #cccccc;
      text-align: left;
      font-size: .8em;
      letter-spacing: .1em;
      line-height: 0px; }
  /* line 63, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
  .calendar .days-of-month .day-block, .calendar .days-of-month .day-block-inner {
    background: none;
    display: flex;
    min-height: 125px;
    flex-basis: 100%;
    outline: solid !important;
    outline-style: inset !important;
    outline-width: 1px !important;
    outline-color: aqua !important; }
    /* line 72, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar .days-of-month .day-block .number, .calendar .days-of-month .day-block-inner .number {
      color: #cccccc;
      display: block;
      height: 100%;
      width: 50px;
      font-size: 1em;
      line-height: 50px; }
  @media (min-width: 960px) {
    /* line 38, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
    .calendar {
      width: 100%; }
      /* line 89, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
      .calendar .days-of-week, .calendar .days-of-month {
        display: flex; }
        /* line 91, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .day-block, .calendar .days-of-week .day-block-inner, .calendar .days-of-month .day-block, .calendar .days-of-month .day-block-inner {
          justify-content: flex-end;
          flex-basis: 14.28571%;
          margin-bottom: 0; }
          /* line 95, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .day-block .number, .calendar .days-of-week .day-block-inner .number, .calendar .days-of-month .day-block .number, .calendar .days-of-month .day-block-inner .number {
            font-size: .8em;
            margin: 0px;
            width: 25px;
            height: 25px;
            line-height: 25px; }
        /* line 16, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .calendar-span-1, .calendar .days-of-month .calendar-span-1 {
          flex-basis: 14.28571%;
          display: flex;
          background: transparent !important; }
          /* line 20, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .calendar-span-1 .day-block-inner, .calendar .days-of-month .calendar-span-1 .day-block-inner {
            flex-basis: 100%; }
        /* line 16, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .calendar-span-2, .calendar .days-of-month .calendar-span-2 {
          flex-basis: 28.57143%;
          display: flex;
          background: transparent !important; }
          /* line 20, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .calendar-span-2 .day-block-inner, .calendar .days-of-month .calendar-span-2 .day-block-inner {
            flex-basis: 50%; }
        /* line 16, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .calendar-span-3, .calendar .days-of-month .calendar-span-3 {
          flex-basis: 42.85714%;
          display: flex;
          background: transparent !important; }
          /* line 20, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .calendar-span-3 .day-block-inner, .calendar .days-of-month .calendar-span-3 .day-block-inner {
            flex-basis: 33.33333%; }
        /* line 16, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .calendar-span-4, .calendar .days-of-month .calendar-span-4 {
          flex-basis: 57.14286%;
          display: flex;
          background: transparent !important; }
          /* line 20, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .calendar-span-4 .day-block-inner, .calendar .days-of-month .calendar-span-4 .day-block-inner {
            flex-basis: 25%; }
        /* line 16, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .calendar-span-5, .calendar .days-of-month .calendar-span-5 {
          flex-basis: 71.42857%;
          display: flex;
          background: transparent !important; }
          /* line 20, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .calendar-span-5 .day-block-inner, .calendar .days-of-month .calendar-span-5 .day-block-inner {
            flex-basis: 20%; }
        /* line 16, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .calendar-span-6, .calendar .days-of-month .calendar-span-6 {
          flex-basis: 85.71429%;
          display: flex;
          background: transparent !important; }
          /* line 20, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .calendar-span-6 .day-block-inner, .calendar .days-of-month .calendar-span-6 .day-block-inner {
            flex-basis: 16.66667%; }
        /* line 16, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-week .calendar-span-7, .calendar .days-of-month .calendar-span-7 {
          flex-basis: 100%;
          display: flex;
          background: transparent !important; }
          /* line 20, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
          .calendar .days-of-week .calendar-span-7 .day-block-inner, .calendar .days-of-month .calendar-span-7 .day-block-inner {
            flex-basis: 14.28571%; }
      /* line 107, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
      .calendar .days-of-month .day-block, .calendar .days-of-month .day-block-inner {
        outline: solid !important;
        outline-style: inset !important;
        outline-width: 1px !important;
        outline-color: aqua !important; }
        /* line 112, /Users/gravishm/Documents/GitHub/BudgetCal/css/styles.scss */
        .calendar .days-of-month .day-block:nth-of-type(even), .calendar .days-of-month .day-block-inner:nth-of-type(even) {
          background: none; } }

/*# sourceMappingURL=styles.css.map */